.form {
    width: 50vw;
    height: 25vh;
    margin: 30px auto;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
}

.form-input{
    width: 100%;
    height: 15%;
}

.form-label{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.submit-button{
    background-color: #5B0888;
    color: white;
    border: 0px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}


.submit-button:hover{
    cursor: pointer;
}