.item-container {
    width: 50vw;
    height: 10vh;
    margin: 30px auto; 
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
}

.username{
    width: 100%;
    padding: 8px;
    border: 1px solid black;
}